/*@import url(https://fonts.googleapis.com/css?family=Comfortaa); */

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/comfortaa/v40/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDrMfIA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#id_logout{
	right: 1px;
	position: absolute;
	top: 1px;
}

.hide{
	display:none;
}

.welcome {
	text-shadow: 2px 2px 4px black;
	font-weight: 500;
	width: max-content;
	border-radius: 5px;
	background-color: rgb(192, 192, 192, 0);
	opacity: 1;
	margin-left: auto;
	margin-right: auto;
  	color: white;
}


.background {
	background-image: url("../resources/img_index.jpg");
	background-color:rgb(255,255,255,0.5);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.div{
	text-align: center;
	font-family: 'Comfortaa', courier, sans-serif;
	width: fit-content;
	border-radius: 5px;
	background-color: #f2f2f2;
	opacity: 0.9;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
}

#div_transactions{
	position: absolute;
	right: 0;
	padding: 10px 10px 20px 10px;
}

#div_send_form{
	width: 45%;
	position: absolute;
	left: 0;
	margin-left: 1%;
}

.div_result{
	width: 45%;
	position: absolute;
	left: 0;
}


h1 {
	text-align: center;
	font-family: 'Comfortaa', courier, sans-serif;
	font-size: 350%;
	font-weight: 600;
	padding: 5px 10px;
	
}

form {
	text-align: center;
	font-family: 'Comfortaa', courier, sans-serif;
	width: 80%;
	border-radius: 5px;
	background-color: #f2f2f2;
	opacity: 0.9;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}

body {
	text-align: center;
	font-family: 'Comfortaa', courier, sans-serif;
	background: white;
}

input[type=text],[type = email],[type=number],[type=password] {
	width: 45%;
	padding: 12px 15px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: 'Comfortaa', courier, sans-serif;
	font-size: 20px;
}

input[type=button] {
	text-align: center;
	font-family: 'Comfortaa', courier, sans-serif;
	width: auto;
	height: 50px;
	font-size: 19px;
	background-color: #E350A1;
	border-radius: 15px;
	color: white;
	cursor: pointer;
	padding: 14px 20px;
	margin: 5px 5px;		
}

input[type=button]:hover {
	background-color:#343DA1;
}

#transactions_alert{
	visibility: "hidden";
	display: "block";
	width: 45%;
	position: "absolute";
	margin-right: 0;	
}

.error-message{
    color: #E350A1;
    display: none;
    margin-top: 1rem;
}

/*Generic Table Border*/

table{
	text-align: center;
	font-family: 'Comfortaa', courier, sans-serif;
	width: 90%;
	border-radius: 5px;
	background-color: #f2f2f2;
	opacity: 0.9;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}

th, td {
	border: 1px solid gray;
	font-size: 16px;
	height: max-content;
	white-space: nowrap;
	padding: 10px 5px 5px 10px;
}
.dx{
	position: absolute;
	right: 0px;
	width: 50%;
}
.sx{
	position: absolute;
	left: 0px;
	width: 50%
}

